[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = true
name = "downloadpytorch"

[packages]
inflect = "*"
numba = "*"
transformers = "*"
pypandoc-binary = "*"
click = "*"
tqdm = "*"
pydub = "*"
progressbar = "*"
einops = "*"
soundfile = "*"
rotary-embedding-torch = "*"
librosa = "*"
unidecode = "*"
torchaudio = {version = "*", index = "downloadpytorch"}
torch = {version = "==2.0.1", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.0"
